@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html, body {
    font-family: 'Lato', sans-serif;
    justify-content: center;
}

body {
    border: 2rem solid red;
    border-image: linear-gradient(to bottom right, #ed213a, #93291e);
    border-image-slice: 1;
}

.header {
    justify-content: space-around;
    width: 70%;
    margin: auto;
    text-align: center;

}

.new-game {
    margin: 1rem;
    padding: auto;

}


.Player {
    justify-content: center;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.play, .game {
    justify-content: space-around;
    align-items: center;
    margin: auto;

}

.play {
    padding-inline: 10rem;
}

.Player1, .Player2  {
    justify-content: center;
    font-weight: normal;

}

.current1, .current2 {
    background-color: #ea4d4c;
    width: 100px;
    height: 200px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 3rem;
}

.sum1, .sum2{
    font-size: 5rem;

}
.playButton {
    text-align: center;
}


.img1 {
    width: 100%;
    height: 100%;
}

span {
    color: white;
    font-size: 5rem;
}

.scorePlayer1, .scorePlayer2, .newGame {
    justify-content: center;
    font-size: 5rem;

}
